@font-face{
    font-family: 'MyCustomFont';
    src: url('fonts/Gilroy-Medium.ttf') format('truetype');
  }
  
* {
    box-sizing: border-box;
    font-family:'MyCustomFont', Gilroy-Medium;
    margin: 0;
    width: 100%;
    padding: 0;
}
.site-wrapper {
    padding: 0;
    width: 100%;
}
.main-header {
    width: 100%;
    background: linear-gradient(#BFE9F7 0% );
}
.mini-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 90%;
    gap: 50px;
    margin: auto;
    padding-top: 50px;
}
.mini-header > .logo > img {
    width: 208px;
    height: 61.91px;
}
.mini-header > .logo {
    width :20%;
}
.keys {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    width: 50%;
    justify-content:space-between;
    align-content: center;
}
.keys > a {
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.sign-up  {
    display: flex;
    flex-direction: row; 
    justify-content: right;
    gap: 10px;
    color: #000000;
    font-size: 20px;
    width: 15%;
}
.sign-up > button {
    border-radius: 34px;
    height:43.37px;
    background-color: rgb(120, 163, 56);
    border: none;  
    font-size: 20px;
    color: aliceblue;
}
.white-header {
    width: 100%;
    margin: auto;
    background: linear-gradient(#BFE9F7 0%, #FFFF 10%);
}
.small-header {
   margin: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 80%;
}
.smaller-header{
    font-size: 20px;
    justify-content: left;
    flex: none;
    width: 40%;
}
.btn > button{
    border-radius: 34px;
    height:43.37px;
    background-color: rgb(120, 163, 56);
    border: none;  
    font-size: 20px;
    color: aliceblue;
    width: 25%;   
}
.smaller-header > h2 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.smaller-header >  hr {
    background: #FFA500;
    margin-top: 10px;
    padding-bottom: 7px;
    border-radius: 5px;
    width: 53%;
}
.smaller-header > p {
    font-size: 24px;
}
.smaller-header > .dive{
    font-size: 24px;
    padding-top: 20px;
}
.smaller-header > .play {
    padding-top : 20px;
    font-size: 32px;
    padding-bottom: 30px;
}
.phone >img {
    padding-bottom: 30px;
}
.white-mid {
    width: 100%
}
.mini-mid {
    width: 60%;
    margin: auto;
}
.rewards {
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    margin: auto;    
}
.mini-mid > hr {
    background: #A79FF9;
    margin-top: 10px;
    height: 7px;
    padding-bottom: 5px;
    padding-bottom:5px;
    border-radius: 18px;
    width: 33%;
    margin:auto;
}
.mini-mid > .four-img {
    padding-top: 10px;
    width: 60%;
    margin: auto;
    padding-bottom: 10px;;
}
.flip-shape {
    display:flex;
    flex-direction: row;
    width: 80%
}
.flip-shape > .text {
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
    position: relative;
    left: 10px;
}
.shape {
    position: relative;
    bottom: 110px;
    right: 30px;
    width: 190px;
    height: 201px
}
.myBtn > button {
    background-color: #1F6DA7;
    border-radius: 34px;
    height:43.37px;
    border: none;  
    font-size: 20px;
    color: aliceblue;
    width: 180px;
}
.myBtn {
    padding-top: 20px;
}
.blue-mid {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.b-mid {
    width: 80%;
    background: #292175;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 403px;
    border-radius: 30px;
}
.b-mid > img {
    width: 506px;
    height: 591.49px;
    position: relative;
    bottom: 100px;
    left: 70px;
}
.b-mid > .blue-text {
  text-align: center;
  color: aliceblue;
}
.blue-text > hr {
    background: #D7FBAC;
    margin-top: 10px;
    padding-bottom: 2px;
    border-radius: 5px;
    width: 80%;
    position: relative;
    left: 5px;
    margin: auto;
    justify-content: center;
}
 .blue-text {
    width: 40%;
    position: relative;
    left: 10px;
    margin: auto;
    justify-content: center;
}
 .blue-text > h1{
    font-size:36px;
    padding-bottom: 10px;
}
 .blue-text > p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
 .play-btn > button {
    background-color: #F0DD91;
    border-radius: 34px;
    height:43.37px;
    border: none;  
    font-size: 20px;
    color: rgb(12, 12, 12);
    width: 180px;
}
.first-footer {   
    padding-top: 100px;
    width: 100%;
    background: linear-gradient(#FBFEFF 0%, #92C557 100%);
    padding-bottom: 150px;
}
.mini-footer {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.white-footer {
    width : 35%;
    margin: auto;
    line-height: 1.5em;
    justify-items: left; 
}
.white-footer > .text {
    padding-bottom: 25px;
   
}
.text > h1 {
    font-size: 25px;
    line-height: 1em;
}
.white-footer > button {
    background:#A79FF9;
    color: aliceblue;
    border-radius: 34px;
    height:43.37px;
    border: none;  
    font-size: 20px;
    width: 180px;
}
.image-box {
    position: relative;
    width: 40%;
    height: auto;
}
.image-box > .box  {
    width: 417px;
    right: 50px;
    height: 420px;
    position: relative;
    left: 70px;
}
.image-box > .data {
    position: absolute;
    bottom: 15px;
    left: -100px;
    width: 546px;
    height:380px;
    border-radius: 75px;
}
.image-box > .small {
    position: absolute;
    top: 300px;
    left: 460px;
    width: 88px;
    height:82px;
    border-radius: 30px;
}
.dark {
    width: 100%;
    background: linear-gradient( #92C557 100%);
}
.inner-dark {
    width: 95%;
    background: black;
    color:aliceblue;
    margin: auto;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}
.inner-footer {
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    line-height: 2.5em;
    font-size: 15px;
}
.links > a {
    text-decoration:none;
    color: aliceblue;
}
.inner-footer > 
.first,
.fourth {
    width: 30%;
}
.inner-footer >
.second, .third {
    width: 20%
}
.first > .sub {
    font-size: 12px;
    padding-bottom: 5px;
}
.first > .logo {
    width: 141px;
    height: 44px;
}
.first > button {
    background : #92C557;
    border-radius: 20px;
    width: 100px;
    height: 31px;
    font-weight:bold;
}
.social-icon{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 10px;
}
.social-icon > a {
    text-decoration: none;
    color: aliceblue;
}
.social-icon > img {
    width:16px;
    height: 19px;
}
.digital, .us, .need {
    color: #92C557;
    font-size: 17px;
}
.inner-dark > .last {
    width: 90%;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 40px;
    padding-bottom: 60px;
    align-items: center;
    gap: 35%;
    padding-left: 30px;
}
.last > .conditions {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.last > .copyright {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 100px;
}
.second .links  a,
.fourth  a,
.third  a,
.conditions > a {
    text-decoration:none;
    color: aliceblue;
    cursor: pointer;
}
.keys a:hover,
.second .links  a:hover,
.fourth  a:hover,
.third a:hover,
.conditions a:hover {
    color: #92C557;
}
 



.white {
    width: 100%;
    margin: auto;
    background: linear-gradient(#BFE9F7 0%, #FFFF 70%);
}
.little-header {
   margin: auto;
   display: flex;
   flex-direction: row;
   width: 60%;
   text-align: center;
}
.littler-header{
    font-size: 20px;
    justify-content: left;
    flex: none;
    width: 50%;
    margin: auto;
}
.littler-header > h2 {
    color: #000000;
    padding-bottom: 20px;
    padding-top: 50px;
}
.littler-header >  hr {
    background: #FFA500;
    margin-top: 10px;
    padding-bottom: 7px;
    margin: auto;
    border-radius: 5px;
    width: 55%;
}
.littler-header > .earn{
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn > button{
    border-radius: 34px;
    height:43.37px;
    background-color: rgb(120, 163, 56);
    border: none;  
    font-size: 20px;
    color: aliceblue;
    width: 30%;   
}
.white-images {
    display: flex;
    flex-direction: row;
    width:80%;
    margin: auto;
}
.people {
    margin:auto;
    width: 80%;
    align-content: center;
    align-items: center;
    padding-left: 20%
}
.people > img {
    width: 616px;
    height: 645px;
}
.hex {
    width: 20%;
    position: relative;
    top: 350px;
    right: 20px;
}
.hex > img {
    width: 190px;
    height: 201px;
}
.mid-section {
    width: 80%;
    line-height: 1.5em;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.green-footer {
padding-top: 70px;
}
.mini-green {
    width: 75%;
    background:#D7FBAC;
    display: flex;
    flex-direction: row;
    margin: auto;
    border-radius: 30px;
    height:400px;
}
.green-text {
    width: 60%;
    align-content: center;
    padding-left: 10%;
    line-height: 1.5em;
}
.green-text > h1 {
    padding-bottom: 20px;
    line-height:1em;
}
.mini-green > img  {
    width: 490px;
    height: 503px;
    position: relative;
    right: 10px;
    bottom:50px;
}
.blue-footer {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 100px;
}
.mini-blue {
    width: 75%;
    background: #AADCEB;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 403px;
    border-radius: 30px;
}
.mini-blue > img {
    width: 490px;
    height: 503px;
    position: relative;
    bottom: 45px;
    left: 20px;
}
.mini-blue > .the-text {
  color:#000000
}
 .the-text {
    width: 40%;
    position: relative;
    left: 10px;
    margin: auto;
    justify-content: center;
    line-height: 1.5em;
}
 .the-text > h1{
    font-size:30px;
    padding-bottom: 20px;
    padding-top: 15px;
    
}
 .the-text > p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.coins {
    width: 100%
}
.three-coins {
    width: 70%;
    margin: auto;
}
.three-coins > .started {
    text-align: center;
    margin: auto;
    align-items: center;
    justify-items: center;
    font-size: 45px;
    padding-bottom: 15px;
}
.trained {
    display:flex;
    flex-direction: row;
    margin: auto;
    gap: 100px;
    justify-content: space-between;
    align-content: center;
}
.small-coin > img {
    width: 313px;
    height: 210px;
}
.trained > h1 {
    text-align: center;
}
.emoji, .tick, .small-coin > .under {
    text-align: center;
}
.under > h1 {
    font-size: 30px;
    padding-bottom: 5px;
}
.daya-squad {
    padding-top: 70px;
    padding-bottom: 50px;
    background: linear-gradient(#FBFEFF 40%, #92C557 100%);
}
.mini-daya {
    width: 85%;
    display: flex;
    flex-direction: row;
    margin: auto;
}
.squad-text {
    width: 50%;
    align-content: center;
    line-height: 1.5em;
}
.squad-text > h1 {
    padding-bottom: 30px;
    line-height:1em;
}
.squad-btn > button{
    border-radius: 34px;
    height:43.37px;
    background-color:#A79FF9;
    border: none;  
    font-size: 20px;
    color: aliceblue;
    width: 30%;
    position: relative;
    left: 67%;

}
.mini-daya > .squad {
    width: 60%
}
.mini-squad > img  {
    width: 350px;
    height: 403px;
    position: relative;
    bottom:50px;
}