@media print {
    body {
        font-size: 10pt;
    }
}

@font-face{
    font-family: 'MyCustomFont';
    src: url('fonts/Gilroy-Medium.ttf') format('truetype');
  }

* {
    box-sizing: border-box;
    font-family:'MyCustomFont', Gilroy-Medium;
    margin: 0;
    width: 100%;
    padding: 0;
}
.site-wrapper {
    padding: 0;
    width: 100%;
}
.main-header {
    width: 100%;
    background: linear-gradient(#BFE9F7 0% );
}
.mini-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 90%;
    gap: 50px;
    margin: auto;
    padding-top: 50px;
}
.mini-header > .logo > img {
    width: 208px;
    height: 61.91px;
}
.mini-header > .logo {
    width :20%;
}
.keys {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    width: 50%;
    justify-content:space-between;
    align-content: center;
}
.keys > a {
    text-align: center;
    text-decoration: none;
    color: #000000;
}
@media (max-width: 768px) { 
    .keys {
        display: flex;
        flex-direction: column;
    }
}
.sign-up  {
    display: flex;
    flex-direction: row; 
    justify-content: right;
    gap: 10px;
    color: #000000;
    font-size: 20px;
    width: 15%;
}

.sign-up > button {
    border-radius: 34px;
    height:43.37px;
    border: 1px solid transparent;  
    font-size: 20px;
    color: aliceblue;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: rgb(120, 163, 56);
}
.sign-up > button:hover {
    background-color: white;
    color: black;
    border: 1px solid rgb(120, 163, 56);
  }
@media (max-width: 768px) {
    .sign-up > button {
        display: none;
    }
}
.white-header {
    width: 100%;
    margin: auto;
    background: linear-gradient(#BFE9F7 0%, #FFFF 10%);
}
.small-header {
   margin: auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 80%;
}
@media (max-width: 768px) {
    .small-header {
       width: 100%;
    }
}
@media (max-width: 768px) {
    .small-header {
        flex-direction: column;
        padding-top: 50px;
    }
}
.smaller-header{
    font-size: 20px;
    justify-content: left;
    flex: none;
    width: 40%;
}
@media (max-width: 768px) {
    .smaller-header {
        text-align:center;
        width: 80%;
    }
}
.btn > button{
    border-radius: 34px;
    height:43.37px;
    background-color: rgb(120, 163, 56);
    border: none;  
    font-size: 20px;
    color: aliceblue;
    width: 25%;   
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn> button:hover {
    background-color: white;
    color: black;
    border: 1px solid rgb(120, 163, 56);
  }


@media (max-width: 768px) {
    .btn > button {
        width: 45%!important;
    }
}
.smaller-header > h2 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
@media (max-width: 768px) {
    .smaller-header > h2 {
        padding-bottom: 15px;
    }
}
.smaller-header >  hr {
    background: #FFA500;
    padding-top: 7px;
    border-radius: 5px;
    width: 53%;
    border: none;
}
@media (max-width: 768px) {
    .smaller-header > hr {
        width: 60%;
        margin: auto;
    }
}
.smaller-header > p {
    font-size: 24px;
}

.smaller-header > .dive{
    font-size: 24px;
    padding-top: 20px;
}
.smaller-header > .play {
    padding-top : 20px;
    font-size: 32px;
    padding-bottom: 30px;
}

.phone >img {
    padding-bottom: 30px;
}
@media (max-width: 768px) {
    .phone > img {
        padding-bottom:15px;
    }
}
.white-mid {
    width: 100%
}
.mini-mid {
    width: 60%;
    margin: auto;
}
@media (max-width: 768px) {
    .mini-mid {
        width: 80%;
    }
}
.rewards {
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
    margin: auto;    
}
@media (max-width: 768px) {
    .rewards {
        padding-bottom:10px!important;
    }
}
.mini-mid > hr {
    background: #A79FF9;
    margin-top: 10px;
    height: 7px;
    padding-bottom: 5px;
    padding-bottom:5px;
    border-radius: 18px;
    width: 33%;
    margin:auto;
    border: none;
}
@media (max-width: 768px) {
    .mini-mid > hr {
        width: 65%!important;
    }
}
.mini-mid > .four-img {
    padding-top: 10px;
    width: 60%;
    margin: auto;
    padding-bottom: 10px;  
}
@media (max-width: 768px) {
    .mini-mid > .four-img {
        padding-top: 20px!important;
    }
}
.flip-shape {
    display:flex;
    flex-direction: row;
    width: 80%
}
.flip-shape > .text {
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
    position: relative;
    left: 10px;
}
@media (max-width: 768px) {
    .flip-shape > .text {
        margin:auto;
        left: 25px!important;
    }
}
.shape {
    position: relative;
    bottom: 110px;
    right: 30px;
    width: 190px;
    height: 201px;
}
@media (max-width: 768px) {
    .shape {
       display:none;
    }
}
.myBtn > button {
    background-color: #1F6DA7;
    border-radius: 34px;
    height:43.37px;
    border: none;  
    font-size: 20px;
    color: aliceblue;
    width: 180px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.myBtn> button:hover {
    background-color: white;
    color: black;
    border: 1px solid #1F6DA7;
  }

.myBtn {
    padding-top: 20px;
}
@media (max-width: 768px) {
    .myBtn > button {
        width: 130px;
    }
}
.blue-mid {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}
@media (max-width: 768px) {
    .blue-mid {
        padding-bottom: 170px;
    }
}
.b-mid {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 403px;
    border-radius: 30px;
    background: #292175;
}
@media (max-width: 768px) {
    .b-mid {
        background: none;
        flex-direction: column;
        
    }
}
.b-mid > img {
    width: 506px;
    height: 591.49px;
    position: relative;
    bottom: 40px;
    left: 30px;
}
@media (max-width: 768px) {
    .b-mid > img {
        width: 100%;
        height: auto;
        left: 20px
    }
}
.b-mid > .blue-text {
  text-align: center;
  color: aliceblue;
}
@media (max-width: 768px) {
    .b-mid > .blue-text{
        padding: 20px;
    }
}
.blue-text > hr {
    background: #D7FBAC;
    margin-top: 10px;
    padding-bottom: 2px;
    border-radius: 5px;
    width: 80%;
    height: 5px;
    position: relative;
    left: 5px;
    margin: auto;
    justify-content: center;
    border: none;
}
 .blue-text {
    width: 100%;
    position: relative;
    left: 10px;
    border-radius: 30px;
    margin: auto;
    justify-content: center;
}
@media (max-width: 768px) {
    .blue-text {
        background: #292175;
        padding-top: 10px;
        padding-bottom: 15px;
        left: 0px;
    }
}
 .blue-text > h1{
    font-size:36px;
    padding-bottom: 10px;
}
@media (max-width: 768px) {
    .blue-text > h1 {
        font-size: 25px;
        padding-top: 15px;
    }
}
 .blue-text > p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
@media (max-width: 768px) {
    .blue-text > p {
       width: 100%;
    }
}
 .play-btn > button {
    background-color: #F0DD91;
    border-radius: 34px;
    height:43.37px;
    border: none;  
    font-size: 20px;
    color: rgb(12, 12, 12);
    width: 180px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.play-btn> button:hover {
    background-color: black;
    color: #F0DD91;
    border: 1px solid #F0DD91;
}

.first-footer {   
    padding-top: 100px;
    width: 100%;
    background: linear-gradient(#FBFEFF 0%, #92C557 100%);
    padding-bottom: 150px;
}
@media (max-width: 768px) {
    .first-footer {
        padding-top: 185px;
        padding-bottom: 80px;
    }
}
.mini-footer {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .mini-footer {
        flex-direction: column-reverse;
    }
}
.white-footer {
    width : 35%;
    margin: auto;
    line-height: 1.5em;
    justify-items: left; 
}
@media (max-width: 768px) {
    .white-footer  {
        width: 100%; 
    }
}
.white-footer > .text {
    padding-bottom: 25px;
}
@media (max-width: 768px) {
    .white-footer > .text {
        padding-top: 30px; 
    }
}
.text > h1 {
    font-size: 25px;
    line-height: 1em;
}
@media (max-width: 768px) {
    .text > h1 {
       padding-bottom: 10px;
       width: 100%
    }
}
.text > .control-one, .control {
    font-size: 17px;
    line-height: 1em;
    padding-top: 20px;
}
.white-footer > button {
    background:#A79FF9;
    color: aliceblue;
    border-radius: 34px;
    height:43.37px;
    border: none;  
    font-size: 20px;
    width: 180px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.white-footer > button:hover {
    background-color:white;
    color: black;
    border: 1px solid #A79FF9;
}
@media (max-width: 768px) {
    .white-footer > button {
       width:130px; 
    }
}
.image-box {
    position: relative;
    width: 40%;
    height: auto;
}
.image-box > .box  {
    width: 417px;
    right: 50px;
    height: 420px;
    position: relative;
    left: 70px;
}
@media (max-width: 768px) {
    .image-box > .box {
        display: none;
    }
}
.image-box > .data {
    position: absolute;
    bottom: 15px;
    left: -100px;
    width: 546px;
    height:380px;
    border-radius: 75px;
}
@media (max-width: 768px) {
    .image-box > .data {
        width: 300px;
        height: auto;
        border-radius: 20px;
        position: relative;
        left: 20px;
    }
}
.image-box > .small {
    position: absolute;
    top: 300px;
    left: 460px;
    width: 88px;
    height:82px;
    border-radius: 30px;
}
@media (max-width: 768px) {
    .image-box > .small {
        display: none;
    }
}
.dark {
    width: 100%;
    background: linear-gradient( #92C557 100%);
}
.inner-dark {
    width: 95%;
    background: black;
    color:aliceblue;
    margin: auto;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}
@media (max-width: 768px) {
    .inner-dark {
       width: 100%;
    }
}
.inner-footer {
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    line-height: 2.5em;
    font-size: 15px;
}
@media (max-width: 768px) {
    .inner-footer {
        flex-direction: column;
        font-size: 20px;
    }
}
.links > a {
    text-decoration:none;
    color: aliceblue;
}
.inner-footer > 
.first,
.fourth {
    width: 30%;
}
@media (max-width: 768px) {
    .inner-footer > .first, .fourth {
        width: 100%;
    }
}
.inner-footer >
.second, .third {
    width: 20%
}
@media (max-width: 768px) {
    .inner-footer > .second, .third {
        width: 100%;
    }
}
.first > .connect {
    width: 70%;
}
.first > .sub {
    font-size: 12px;
    padding-bottom: 5px;
}
@media (max-width: 768px) {
    .first > .sub {
        font-size: 14.5px;
    }
}
.first > .logo {
    width: 141px;
    height: 44px;
}
@media (max-width: 768px) {
    .first > .logo {
        width: 180px;
        height: 64px;
    }
}
.first > button {
    background : #92C557;
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 31px;
    font-weight:bold;
    cursor: pointer;
    transition-duration: 0.4s;
}
.first > button:hover {
    background-color:white;
    color: black;
    border: 2px solid #92C557;
}
@media (max-width: 768px) {
    .first > button {
        width: 150px;
        height: 40px;
        border-radius: 30px;
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .second > .digital, .links, .third, .fourth {
        font-size: 18px; 
    }
}
.social-icon{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 10px;
}
.social-icon > a {
    text-decoration: none;
    color: aliceblue;
}
.social-icon > img {
    width:19px;
    height: 19px;
}
.digital, .us, .need {
    color: #92C557;
    font-size: 17px;
}

.inner-dark > .last {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 40px;
    padding-bottom: 60px;
    align-items: center;
    gap: 35%;
    padding-left: 30px;
}
@media (max-width: 768px) {
    .inner-dark > .last{
       gap: 30%;
       flex-direction: column-reverse;
    }
}
.last > .conditions {
    display: flex;
    flex-direction: row;
    text-align: center;
}
@media (max-width: 768px) {
    .last > .conditions{
       width: 100%;
    }
}
.last > .copyright {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 100px;
}
@media (max-width: 768px) {
    .last > .copyright{
       padding-left: 0%;
       padding-top: 20px;
       text-align: center;
    }
}
.second .links  a,
.fourth  a,
.third  a,
.conditions > a {
    text-decoration:none;
    color: aliceblue;
    cursor: pointer;
}
.keys a:hover,
.second .links  a:hover,
.fourth  a:hover,
.third a:hover,
.conditions a:hover {
    color: #92C557;
}
 



.white {
    width: 100%;
    margin: auto;
    background: linear-gradient(#BFE9F7 0%, #FFFF 70%);
}

.little-header {
   margin: auto;
   display: flex;
   flex-direction: row;
   width: 60%;
   text-align: center;
}
.littler-header{
    font-size: 20px;
    justify-content: left;
    flex: none;
    width: 50%;
    margin: auto;
}
@media (max-width: 768px) {
    .littler-header{
       width:100%;
       text-align: center;
    }
}
.littler-header > h2 {
    color: #000000;
    padding-bottom: 20px;
    padding-top: 50px;
}
.littler-header >  hr {
    background: #FFA500;
    margin-top: 10px;
    padding-bottom: 7px;
    margin: auto;
    border-radius: 5px;
    width: 55%;
    border: none;
}
.littler-header > .earn{
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn > button{
    border-radius: 34px;
    height:43.37px;
    background-color: rgb(120, 163, 56);
    border: none;  
    font-size: 20px;
    color: aliceblue;
    width: 30%;
    cursor: pointer;
    transition-duration: 0.4s;
       
}
.btn > button:hover {
    background-color:white;
    color: black;
    border: 2px solid #92C557;
}
.white-images {
    display: flex;
    flex-direction: row;
    width:80%;
    margin: auto;
}
.people {
    margin:auto;
    width: 80%;
    align-content: center;
    align-items: center;
    padding-left: 20%
}
@media (max-width: 768px) {
    .people {
        width: 100%;
        padding-left: 7%;
    }
}
.people > img {
    width: 616px;
    height: 645px;
}
@media (max-width: 768px) {
    .people > img{
        width: 300px;
        height: auto;
    }
}
.hex {
    width: 20%;
    position: relative;
    top: 350px;
    right: 20px;
}
@media (max-width: 768px) {
    .hex{
    display: none;
    }
}
.hex > img {
    width: 190px;
    height: 201px;
}

.mid-section {
    width: 80%;
    line-height: 1.5em;
    justify-content: center;
    margin: auto;
    text-align: center;
}
@media (max-width: 768px) {
    .mid-section {
        width: 90%;
    }
}
.green-footer {
    padding-top: 70px;
}
@media (max-width: 768px) {
    .green-footer{
       padding-bottom: 63%;
    }
}
.mini-green {
    width: 75%;
    background:#D7FBAC;
    display: flex;
    flex-direction: row;
    margin: auto;
    border-radius: 30px;
    height:400px;
}
@media (max-width: 768px) {
    .mini-green{
        flex-direction: column;
        width:90%;
        padding: 30px;
        height: 300px;
    }
}
.green-text {
    width: 60%;
    align-content: center;
    padding-left: 10%;
    line-height: 1.5em;
}
@media (max-width: 768px) {
    .green-text{
        width:100%;  
    }
}
.green-text > h1 {
    padding-bottom: 20px;
    line-height:1.3em;

}
@media (max-width: 768px) {
    .green-text > h1{
        font-size: 20px;
    }
}
.mini-green > img {
    width: 490px;
    height: 503px;
    position: relative;
    right: 10px;
    bottom:50px;
}
@media (max-width: 768px) {
    .mini-green > img {
        padding-top: 40%;
        width:400px;
        height: auto;
        right: 15px;
    }
}
.blue-footer {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 100px;
}
@media (max-width: 768px) {
    .blue-footer{
        padding-top: 0%;
        margin: auto;
        padding-bottom: 1px;
    }
}
.mini-blue {
    width: 75%;
    background: #AADCEB;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 403px;
    border-radius: 30px;
}
@media (max-width: 768px) {
    .mini-blue{
        flex-direction: column-reverse;
        background: none;
        height: auto;
        padding-top: 35%;
        width: 100%;
    }
}
.mini-blue > img {
    width: 490px;
    height: 503px;
    position: relative;
    bottom: 45px;
    left: 20px;
}
@media (max-width: 768px) {
    .mini-blue > img{
        width: 80%;
        height: auto;
        padding-top: 20%;
        border-radius: 30px;
        left: 45px;
    }
}
 .the-text {
    width: 40%;
    position: relative;
    left: 10px;
    margin: auto;
    justify-content: center;
    line-height: 1.5em;
    color: #000000;
}
@media (max-width: 768px) {
    .mini-blue > .the-text{
        background: #AADCEB;
        width: 80%;
        padding: 30px;
        border-radius: 30px;
        margin: auto;
        left: 0px;
    }
}
 .the-text > h1{
    font-size:30px;
    padding-bottom: 20px;
    padding-top: 15px;
    line-height: 1.2em;
    
}
 .the-text > p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.coins {
    width: 100%
}
.three-coins {
    width: 70%;
    margin: auto;
}
.three-coins > .started {
    text-align: center;
    margin: auto;
    align-items: center;
    justify-items: center;
    font-size: 45px;
    padding-bottom: 15px;
}
.trained {
    display:flex;
    flex-direction: row;
    margin: auto;
    gap: 100px;
    justify-content: space-between;
    align-content: center;
}
@media (max-width: 768px) {
    .trained{
       flex-direction: column;
       gap: 40px;
    }
}
.small-coin > img {
    width: 313px;
    height: 210px;
}
@media (max-width: 768px) {
    .small-coin > img {
        width: 300px;
        height: auto;
        position: relative;
        right: 10px
    }
}
@media (max-width: 768px) {
    .emoji, .tick > img {
        width: 210px;
        height: auto;
        margin: auto;
    }
}
.trained > h1 {
    text-align: center;
}
.emoji, .tick, .small-coin > .under {
    text-align: center;
}
.under > h1 {
    font-size: 30px;
    padding-bottom: 5px;
}
@media (max-width: 768px) {
    .under > p{
        font-size: 20px;
    }
}
.daya-squad {
    padding-top: 100px;
    padding-bottom: 50px;
    background: linear-gradient(#FBFEFF 40%, #92C557 100%);
}
@media (max-width: 768px) {
    .daya-squad{
      padding-bottom: 20px;
    }
}
.mini-daya {
    width: 85%;
    display: flex;
    flex-direction: row;
    margin: auto;
}
@media (max-width: 768px) {
    .mini-daya{
        width: 100%;
        flex-direction:column ;
    }
}
.squad-text {
    width: 50%;
    align-content: center;
    line-height: 1.5em;
}
@media (max-width: 768px) {
    .squad-text{
        width: 90%;
         text-align: center;
         font-size: 18px;
         margin: auto;
         padding-bottom: 50px;
    }
}
.squad-text > h1 {
    padding-bottom: 30px;
    line-height:1em;
}

.squad-btn {
    display: flex;
    justify-content: end;
}

@media (max-width: 768px){
    .squad-btn {
        justify-content: center;
    }
}
.squad-btn > button {
    border-radius: 34px;
    height:43.37px;
    background-color:#A79FF9;
    border: none;  
    font-size: 20px;
    color: aliceblue;
    width: 30%;
    position: relative;
    cursor: pointer;
    transition-duration: 0.4s;
}

.squad-btn > button:hover {
    background-color:white;
    color: black;
    border: 2px solid #A79FF9;
}

@media (max-width: 768px) {
    .squad-btn > button {
      width: 40%;
    }
}
.mini-daya > .squad {
    width: 60%
}
@media (max-width: 768px) {
    .mini-daya > .squad{
       width: 80%;
    }
}
.mini-daya > img  {
    width: 300px;
    height: 203x;
    position: relative;
    bottom:50px;
}
@media (max-width: 768px) {
    .mini-daya > img{
        margin: auto;
       height: auto;
       padding-top: 80px;
    }
}
.about {
    width: 100%;
    margin: auto;
    background: linear-gradient(#BFE9F7 0%, #FFFF 70%);
}

.little-about {
   margin: auto;
   display: flex;
   flex-direction: row;
   width: 60%;
   text-align: center;
}
@media (max-width: 768px) {
    .little-about{
      width: 100%
    }
}
.littler-about{
    font-size: 20px;
    justify-content: left;
    flex: none;
    width: 50%;
    margin: auto;
}
@media (max-width: 768px) {
    .littler-about{
      width: 85%
    }
}
.littler-about > h2 {
    color: #000000;
    padding-bottom: 20px;
    padding-top: 50px;
}
@media (max-width: 768px) {
    .littler-about > h2{
        font-size: 30px;
    }
}
.littler-about >  hr {
    background: #FFA500;
    margin-top: 10px;
    padding-bottom: 7px;
    margin: auto;
    border: none;
    border-radius: 5px;
    width: 70%;
}
@media (max-width: 768px) {
    .littler-about > hr{
        width: 50%;
    }
}
.littler-about > .transform{
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.map {
    margin:auto;
    width: 80%;
    align-content: center;
    align-items: center;
    padding-left: 20%
}
@media (max-width: 768px) {
    .map{
       padding-left: 0;
       width: 60%;
    }
}
.map > img {
    width: 500px;
    height: 565px;
}
@media (max-width: 768px) {
    .map > img {
       width: 400px;
       height: auto;
       position: relative;
       right: 25%;
    }
}
.african-population {
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(#FBFEFF 0%, #92C557 100%);
    padding-bottom: 50px;
}
.population {
    width : 50%;
    margin: auto;
    text-align: center;
    line-height: 1.5em;
}
@media (max-width: 768px) {
    .population {
      width: 80%;
    }
}
